.secButon {
    width: 250px;
    display: flex;
    justify-content: end;
}

.boxButtons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.Btn {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    border-radius: 10px;
    color: var(--collor-primary-black);
    transition: 0.4s;
}   

.Btn:hover {
    color: var(--collor-gray);
}

.Btn::before {
    content: "";
    position: absolute;
    bottom: 3;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 1px;
    border-radius: 20px;
    background-color: var(--collor-blue);
}