.Header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 998;
  height: auto;
  background-color: var(--collor-white);
  transition: background 0.4s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px 2%;

  .content_Header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .division_Content {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    width: 700px;
  }
}

.mobileMenuButton {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 999;
}

.hamburgerLine {
  width: 100%;
  height: 3px;
  background-color: var(--collor-secundary-white);
  border-radius: 2px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .mobileMenuButton {
    display: flex;
  }

  .linkButton {
    display: none;
  }

  .imgLogo {
    width: 140px;
    height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .Header {
    .contentHeader {
      padding: 0 0.5rem;
    }
  }

  .imgLogo {
    width: 120px;
    height: 18px;
  }

  .buttonsContainer {
    gap: 10px;
  }
}