.ImageHome {
  height: 600px;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.wrapper {
  position: absolute;
  inset: 0;
  pointer-events: auto;
}

@media screen and (max-width:768px){
  .ImageHome{
    width:100%;
  }
}
