.loadingIcon {
    animation: rotate 1s linear infinite;
    font-size: 2rem;
    margin: auto;
    color: #ffffff
}
@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }   
}