.contactPage{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.title{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
@media screen and (max-width:768px){
    .contactPage{
        height: auto;
    }
}