.boxLogo {
  width: 210px;
  display: flex;
  align-items: center;
}

.logo_Text {
  color: var(--collor-primary-black);
  font-style: italic;

  &.logo_Text::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    border-radius: 20px;
    background-color: var(--collor-blue);
  }

}


.alternativCollor {
  color: var(--collor-blue);
  font-style: italic;
}