@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  max-width: 100%;

}

:root {
  --collor-primary-black: #0D0D0D;
  --collor-gray: #8C8C8C;
  --collor-white: #fdfdfd;
  --collor-blue: #1b308d;
  --collor-grandient-gray: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --collor-grandient-black: linear-gradient(135deg, #0a0a0a 0%, #363636 100%);
  --collor-grandient-blue: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%);
  --collor-grandient-red: linear-gradient(135deg, #faf9f9 0%, #f0efef 100%);


  --font-primary-poppins: ;
  --font-primary-Orbitron: ;
  --font-primary-moteserrat: font-family: "Montserrat", sans-serif;
}

.color_cyan {
  color: var(--collor-details-cyan);
  font-weight: 500;
}

.section_global {
  max-width: 1980px;
  margin: 0 auto;
  padding: 15px 4%;
}

body {
  background-color: var(--color-background);
  max-width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #f0f0f0;
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #ffffff33;
}