.page {
  width: 100%;

  .divisionContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    width: 90%;
    /*max-width: 1500px;*/
  }
}
.firstTitle .boxTitle,
.firstTitle.boxTitle {
  padding-bottom: 0px;
}

@media (max-width: 768px) {
  .page{
    .divisionContent {
      flex-direction: column;
      padding-top: 10px;
    }
  }
}