.widgetContainer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 384px; 
  background-color: white;
  z-index: 50;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.widgetOpen {
  transform: translateX(0%);
}

.widgetClosed {
  transform: translateX(100%);
}

/* Header do chat */
.header {
  background-color: var(--collor-primary-navyblue); 
  color: white;
  padding: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.messagesBox {
  flex: 1; 
  padding: 1rem;
  overflow-y: auto;
}

.messageRow {
  display: flex;
  margin-bottom: 0.75rem;
}

.messageRowUser {
  justify-content: flex-end; 
}


.bubble {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: #1f2937; 
  max-width: 80%;
}

.bubbleBot {
  background-color: #f3f4f6;
  color: var(--collor-primary-navyblue);
}

.bubbleUser {
  background-color: var(--collor-alternative--darkCyan2);
  color: #fff;
}

.inputArea {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-top: 1px solid #e5e7eb; 
}

.textInput {
  flex: 1;
  outline: none;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  transition: all .2s ease;
  &:focus{
    border: 1px solid #aeb0b3;
  }
}

.sendButton {
  margin-left: 0.5rem;
  font-weight: 600;
  color: #2563eb; 
  background: none;
  border: none;
  cursor: pointer;
}

.sendButton:hover {
  color: #1d4ed8; 
}