.contentDescripition {
    width: 100%;
    height: auto;
}

.boxDescription {
    width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: rgba(121, 196, 242, 0.08);
    border: 1px solid rgba(121, 196, 242, 0.18);
    border-radius: 10px;
    padding: 30px 20px;
}

.titleDescription {
    text-align: center;
    font-size: 1.8rem;
    color: var(--collor-white);
}

.Description {
    text-align: center;
    color: var(--collor-white);
    white-space: pre-line;
    font-size: 1.1rem;
}