.ReviewsComponent {
  width: 95%;
  max-width: 900px;
  margin: 30px auto;
  background-color: var(--collor-alternative--darkBlue);
  border-radius: 16px;
}

.swiper {
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(180deg, #03030c 50%, #000 100%);
  backdrop-filter: blur(12px);
  padding: 60px 61px;
  height: auto;
  position: relative;
  box-shadow: 0px 1px 5px 0.5px var(--collor-details-cyan);

  &::before {
    content: "";
    position: absolute;
    inset: -50px;
    background: radial-gradient(circle at center, #64c9ff57, transparent 70%);
    filter: blur(60px);
    z-index: -1;
  }
}

.slide {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.quote {
  font-size: 80px;
  height: 100px;
  color: #ffffff;
  
}

.text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f5f5f5;
  line-height: 1.6;
  max-width: 600px;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.role {
  font-size: 0.9rem;
  color: #aaa;
}

.btnReview {
  cursor: pointer;
  background-color: var(--collor-alternative--darkBlue);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  height: 40px;
  width: 80%;
  max-width: 250px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #64c9ff34;
  }
}

@media (max-width: 768px) {
 
  .swiper {
      padding: 50px 10px; 
    }
  .text {
    font-size: 15px;
  }
}
